.wy-nav-content {
    max-width: none;
}

body {
    font-family: Luminari, fantasy, sans-serif;
    color: darkred;
    /* text-shadow: 3px 3px #ff0000; */
}

h1 {
    font-family: Luminari, fantasy, sans-serif;
}